
<footer class="footer">
    <section>
        <h1>hello</h1>
    </section>
    <div class="content has-text-centered">
        <div class="container">
            <div class="columns mt-5 mb-5 is-8 is-variable is-centered">
              <div class="column is-4-tablet is-3-desktop">
                  <a href="">
                    <img src="/assets/logo.jpg">
                  </a>
              </div>


              <div class="column is-4-tablet is-3-desktop">
                  <div>
                    <div class="row">
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>


                    <div class="row">
                        copyright
                    </div>
                  </div>
              </div>


              <div class="column is-4-tablet is-3-desktop">
                  <div>
                        <div class="row">
                        Keep in touch
                        </div>

                        <div class="row">
                            <a href="">
                                <img src="/assets/instagram.svg" alt="Instagram" width="30" >
                            </a>
                        </div>
                        <br>

                        <div class="row">
                            <img src="/assets/scan.png" width="100">
                        </div>
                        <br>
                        
                        <div class="row">
                            Have an issue? <a href="http://localhost:4200/contact">Contact us</a>
                        </div>
                  </div>
              </div>


           </div>
        </div>
    </div>
  </footer>