<div id="test">
<div style="background-color: rgb(30, 48, 65, .6);">
  <video width="640" height="360" style="display: block; margin: auto;" controls autoplay loop >
    <source
      src="https://notespro-s3-staticfiles-dev.s3.ap-south-1.amazonaws.com/webapp/videos/Dark+Blue+Particle+Motivational+Quote+Video.mp4" type="video/mp4"
    />
  </video>
</div>

<br>

<section style="background-color:rgba(217,206,199,.6)">
  <div class="container">
    <div class="columns mt-5 mb-5 is-8 is-variable is-centered">
      <div class="column is-4-tablet is-3-desktop">
        <div class="card">
          <div class="card-image has-text-centered px-6">
            <img src="assets/R.jpeg" alt="DOCUMENTS" style="height: 120px; width: 220px;">
          </div>
          <footer class="card-footer">
            <p class="card-footer-item">
              <a href="" class="has-text-grey"> <strong>DOCUMENTS</strong> </a>
            </p>
          </footer>
        </div>
      </div>
      <div class="column is-4-tablet is-3-desktop">
        <div class="card">
          <div class="card-image has-text-centered px-6">
            <img src="assets/wonkhe-graduate-book.jpeg" alt="THESIS AND DISSERTATION" style="height: 120px; width: 220px;">
          </div>
          <footer class="card-footer">
            <p class="card-footer-item">
              <a href="" class="has-text-grey"> <strong>THESIS AND DISSERTATION</strong> </a>
            </p>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>

<br>

<section class="section" style="background-color: rgb(181, 189, 189, .6)">
  <img src="assets/Red Flat & Minimalist Comfort Food Website/products.png" width="740" height="260" style="display: block; margin: auto;"/>
</section>

<section class="section" style="background-color: rgb(181, 189, 189, .6)">
  <img src="assets/Red Flat & Minimalist Comfort Food Website/new6.png" width="740" height="260" style="display: block; margin: auto;"/>
</section>

