#test { 
    background-size:cover;
 }   
 
 #profile-page {
    margin: 50px;
    width: 80%;
    display: inline-block;
    padding: 10px 0px 20px;
    margin-bottom: 10px;
    text-align:justify;
    padding: 50px;
    border: 3px solid #eaeaec;
    overflow-x: scroll;
 }

 #profile-label {
    font-weight: 500;
    font-size: 18px;
    border-bottom: 2px solid #eaeaec;
    padding-bottom: 15px;
    padding: 0 24px 24px 24px;
 }

 #profile-info {
    margin: 25px 0 25px 0;
    padding: 0 24px;
 }

 tr {
    height: 43px;
    text-align: left;
 }

 td {
    font-weight: 400;
    width: 200px;
    margin: 10px;
    padding: 0 4px;
    color: #282C3F !important;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 }

 #editButton {
    cursor: pointer;
    text-transform: uppercase;
    padding: 15px;
    text-align: center;
    font-weight: 800;
    background-color: #FF3F6C;
    margin: 30px 24px;
    color: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
