#test { 
    background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url(); 
    background-size:cover;
    background-attachment: fixed;
    height: 800px;
    /* margin-right: 50px;
    margin-left: 50px; */
    overflow:scroll;
    font-family: 'Montserrat', sans-serif;
 }    