
<div id="test"  >
    <div class="content has-text-left ml-6 mt-6">
        <strong > <font size="+3">About Us</font></strong>
    </div>
        <div class="tabs is-centered">
            <ul>
                <li class="is-active"><a><strong>About NOTESPRO</strong> </a></li>
                <li ><a routerLink="/contact"><strong>Contact</strong></a></li>
                <li><a routerLink="/faq"><strong>FAQ</strong></a></li>
            </ul>
          </div>
          <div class="content has-text-left ml-6 mt-6 mr-6">
             <font size="+2"> <strong> Printing became easy and affordable.</strong></font>
             <br>
             <font size="+1"> 
                 <strong> <p>
                    We serve online printing service at an
                    irresistible low cost . </p>
                    <p>
                        Our mission is to keep you smiling with colour prints, at prices so affordable that you will want to convert all your softcopies into hardcopies.

                </p></strong>
                <br>
                <section class="content has-text-centered">Printed with 
                    <span class="icon">
                        <span class="material-icons">
                          favorite
                          </span>
                      </span>
                     in India
                </section>
             </font>
           

        </div>
    
</div>