<div id="test"  >
    <div class="content has-text-left ml-6 mt-6">
        <strong > <font size="+3">About Us</font></strong>
    </div>
        <div class="tabs is-centered">
            <ul>
              <li routerLink="/about"><a><strong>About NOTESPRO</strong></a></li>
              <li ><a routerLink="/contact"><strong>Contact</strong></a></li>
              <li class="is-active"><a routerLink="/faq"><strong>FAQ</strong></a></li>
            </ul>
          </div>
          <div class="content has-text-left ml-6 mt-6 mr-6">
            <font size="+1"><strong >FAQ</strong></font>
       </div>
    
</div>
